{% extends 'base.html' %}
{% block title %}
Диалог с
{% if user == dialogue.side_a %}
    {{ dialogue.side_b.nickname }}
{% else %}
    {{ dialogue.side_a.nickname }}
{% endif %}
{% endblock %}

{% block page_header %}
Диалог с
{% if user == dialogue.side_a %}
    {{ dialogue.side_b.nickname }}
{% else %}
    {{ dialogue.side_a.nickname }}
{% endif %}
{% endblock %}

{% block content %}
<style>
.dot {
  height: 10px;
  width: 10px;
  background-color: red;
  border-radius: 50%;
  display: inline-block;
}
</style>
<!--to use-->
<!--<span class="dot"></span>-->
<div class="row">
    <div class="col-3"></div>
    <div class="col-6">

        <div class="border border-2 border-bottom-0 bg-light mt-5 px-0 overflow-auto" id="message-list">
            {% for msg in messages %}
            <div id="message-{{ msg.pk }}">
                {% if msg.author == user %}
                    <div class="row my-tweet mx-1 mt-1">
                        <div class="col-6"></div>
                            <div class="text-light col-6 bg-dark">
                                <h6 class="my-0"><a href="{% url 'profile' msg.author.pk %}" class="text-decoration-none link-light">{{ msg.author.nickname }}</a></h6>
                                <p class="mb-0 opacity-75 text-break" style="white-space: pre-line">{{ msg.text }}</p>
                                <p class="mb-0 text-end">
                                    <em class="opacity-50 text-nowrap">{{ msg.get_time }}</em>
                                    <em class="opacity-50 text-nowrap">{{ msg.get_date }}
                                    {% if msg.read %}
                                    <svg class="bi me-2" width="20" height="20" fill="currentColor"><use class="mark" xlink:href="#msg-read"/></svg></em>
                                    {% else %}
                                    <svg class="bi me-2" width="20" height="20" fill="currentColor"><use class="mark" xlink:href="#msg-sent"/></svg></em>
                                    {% endif %}
                                </p>
                        </div>
                    </div>
                {% else %}
                    <div class="row alien-tweet mx-1 mt-1">
                            <div class="col-6 bg-white border">
                                <h6 class="my-0"><a href="{% url 'profile' msg.author.pk %}" class="text-decoration-none ">{{ msg.author.nickname }}</a></h6>
                                <p class="mb-0 opacity-75 text-break" style="white-space: pre-line">{{ msg.text }}</p>
                                <p class="mb-0 text-start">
                                    <em class="opacity-50 text-nowrap">{{ msg.get_time }}</em>
                                    <em class="opacity-50 text-nowrap">{{ msg.get_date }}
                                    {% if msg.read %}
                                    <svg class="bi me-2" width="20" height="20" fill="currentColor"><use class="mark" xlink:href="#msg-read"/></svg></em>
                                    {% else %}
                                    <svg class="bi me-2" width="20" height="20" fill="currentColor"><use class="mark" xlink:href="#msg-sent"/></svg></em>
                                    {% endif %}

                                </p>
                        </div>
                        <div class="col-6"></div>
                    </div>
                {% endif %}
            </div>

            {% endfor %}
            <style>
                #message-list{
                    height: 650px;
                }
            </style>
            {% if not messages %}
            <div class="text-center mt-5 pb-5" id="empty-dialogue">
                <h6 class="display-6">:(</h6>
                <p class="lead mb-0">Здесь пока ничего нет</p>
                <p class="lead mb-0">Напишите первым</p>
            </div>
            {% endif %}
        </div>

        <form id="message-sender" class="mt-0" method="post" action=".">
            <div class="input-group mb-3">
              <input type="text" class="form-control" placeholder="Введите сообщение..." name="text" aria-describedby="button-addon2">
              <button class="btn btn-outline-dark" type="submit" id="send-btn"><svg class="bi me-2" width="16" height="16" fill="currentColor"><use xlink:href="#send"/></svg>
              </button>
            </div>
        </form>
    </div>
    <div class="col-3"></div>
</div>

<script>
    const chatSocket = new WebSocket(
        'ws://'
        +window.location.host
        +'/ws/chat/'
        +'{{ dialogue.pk }}'

    );

    chatSocket.onopen = function(event){
        readAll();
    }

    chatSocket.onmessage = function(event){
        const data = JSON.parse(event.data);

        if (data.type === 'msg-send'){
            if (data.text){
                let msgText;
                const link = '/users/'+data.author+'/profile';
                if (data.author == '{{ user.pk }}'){
                    msgText = '<div class="row my-tweet mx-1 mt-1"><div class="col-6"></div><div class="text-light col-6 bg-dark">'+
                    '<h6 class="my-0"><a href="'+link+'" class="text-decoration-none link-light">'+
                    data.author_name+
                    '</a></h6><p class="mb-0 opacity-75 text-break" style="white-space: pre-line">'+
                    data.text+
                    '</p><p class="mb-0 text-end"><em class="opacity-50 text-nowrap">'+
                        data.time+
                        '</em>\n<em class="opacity-50 text-nowrap">'+
                        data.date+
                        '<svg class="bi me-2" width="20" height="20" fill="currentColor"><use class="mark" xlink:href="#msg-sent"/></svg></em></p></div></div>';
                } else{

                    msgText = '<div class="row alien-tweet mx-1 mt-1"><div class="col-6 bg-white border">'+
                    '<h6 class="my-0"><a href="'+link+'" class="text-decoration-none ">'+
                    data.author_name+
                    '</a></h6><p class="mb-0 opacity-75 text-break" style="white-space: pre-line">'+
                    data.text+
                    '</p><p class="mb-0 text-start"><em class="opacity-50 text-nowrap">'+
                    data.time+
                    '</em>\n<em class="opacity-50 text-nowrap">'+
                    data.date+
                    '<svg class="bi me-2" width="20" height="20" fill="currentColor"><use class="mark" xlink:href="#msg-sent"/></svg></em></p></div><div class="col-6"></div></div>';
                }
                
                parentList = document.querySelector('#message-list');
                msg = document.createElement('div');
                msg.setAttribute('id', 'message-'+data.pk)
                msg.innerHTML = msgText;
                parentList.append(msg);
                if (placeholder){ placeholder.remove() }
                scrollToBottom();

                if (data.author != '{{ user.pk }}'){
                    chatSocket.send(JSON.stringify({
                        'type': 'read-one',
                        'id': data.pk,
                    }));
                } else {
                    globalSocket.send(JSON.stringify({
                        'type': 'unread',
                        'chat': '{{ dialogue.pk }}',
                    }))
                }

            }  else{
                console.log('empty message');
            }
        // console.log(data);
        } else if (data.type === 'read-all'){

            if (data.author != '{{ user.pk }}'){
                // console.log(data);
                markSideAsRead('my');
            }

        } else if (data.type === 'read-one'){
            id = '#message-'+data.pk;
            node = document.querySelector(id);
            markAsRead(node);
        }
    }

    chatSocket.onclose = function(event){
        console.log('un ok')
    }

    const placeholder = document.querySelector('#empty-dialogue');

    fomrSender = document.querySelector('#message-sender');
    fomrSender.addEventListener('submit', function(event){
        event.preventDefault();
        const form = new FormData(event.target);
        
        const msg = form.get('text');



        if (!msg || msg.length >= 255) return;
        else{
            event.target.elements['text'].value = '';
            chatSocket.send(JSON.stringify({
                'type': 'send-msg',
                'text': msg,
                'chat': '{{ dialogue.pk }}',
            }));
        }
    });


    fomrSender.addEventListener('input', function(event) {
        const inputField = event.target;
        if (!inputField) return;
        if (inputField.value.length >= 255){
            inputField.style.color = 'red';
        } else {
            inputField.style.color = 'black';
        }
    })


    function scrollToBottom(){
        list = document.querySelector('#message-list');
        list.scrollTop = list.scrollHeight;
    }

    function markAsRead(node){
        const mark = node.querySelector('.mark');
        mark.setAttribute('xlink:href', '#msg-read');
    }

    function markSideAsRead(side){
        if (side === 'my'){
            for (elem of document.querySelectorAll('.my-tweet')){
                markAsRead(elem);
            }
        } else{
            for (elem of document.querySelectorAll('.alien-tweet')){
                markAsRead(elem);
            }
        }
    }

    function readAll(){
        chatSocket.send(JSON.stringify({
                'type': 'read-all',
            }));
    }


    scrollToBottom();
    //console.log(document.querySelector('#message-75').querySelector('.mark'));
</script>
{% endblock %}

{% block sidebar_buttons %}
{% if user.is_authenticated %}
<li class="nav-item">
    <a href="{% url 'home' %}" class="nav-link link-dark" aria-current="page">
      <svg class="bi me-2" width="16" height="16" fill="currentColor"><use xlink:href="#news"/></svg>
      <strong>Новости</strong>
    </a>
</li>
<li class="nav-item">
    <a href="{% url 'tweet-list' user.pk %}" class="nav-link link-dark" aria-current="page">
        <svg class="bi me-2" width="16" height="16"><use xlink:href="#my-tweet"/></svg>
      <strong>Мои твиты</strong>
    </a>
</li>
<li class="nav-item">
    <a href="{% url 'dialogue-list' user.pk %}" class="nav-link link-light active bg-success" aria-current="page">
      <svg class="bi me-2" width="16" height="16 " fill="currentColor"><use xlink:href="#chats"/></svg>
        <strong>Диалоги </strong><span id="d-counter" class="badge text-bg-dark"></span>
    </a>
</li>
<li class="nav-item">
    <a href="{% url 'main-search' %}" class="nav-link link-dark" aria-current="page">
        <svg class="bi me-2" width="16" height="16"><use xlink:href="#search"/></svg>
      <strong>Поиск</strong>
    </a>
</li>
<li class="nav-item">
    <a href="{% url 'list-of-follows' %}" class="nav-link link-dark" aria-current="page">
        <svg class="bi me-2" width="16" height="16"><use xlink:href="#subs"/></svg>
      <strong>Подписки</strong>
    </a>
</li>
{% endif %}
{% endblock %}