{% extends 'base.html' %}
{% block title %}
Диалог с
{% endblock %}

{% block page_header %}
Диалог с
{% if user == dialogue.side_a %}
    {{ dialogue.side_b.nickname }}
{% else %}
    {{ dialogue.side_a.nickname }}
{% endif %}
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-3"></div>
    <div class="col-5">
    <!--    <div class="text-center mt-2">-->
    <!--        <h6 class="display-6">:(</h6>-->
    <!--        <p class="lead mb-0">Здесь пока ничего нет</p>-->
    <!--        <p class="lead">Напишите кому-нибудь</p>-->
    <!--        <a href="{% url 'main-search' %}" class="btn btn-outline-secondary" role="button">Найти</a>-->
    <!--    </div>-->
        <div class="border border-2 border-bottom-0 bg-light mt-5 px-0" id="message-list">
            <div class="text-center mt-5 pb-5" id="empty-dialogue">
                <h6 class="display-6">:(</h6>
                <p class="lead mb-0">Здесь пока ничего нет</p>
                <p class="lead mb-0">Напишите первым</p>
            </div>

            <div class="row my-tweet mx-1">
                <div class="col-6"></div>
                    <div class="text-light col-6 bg-dark">
                        <p class="mb-0 opacity-75 text-break" style="white-space: pre-line">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium blanditiis dolorum, error minus</p>
                        <p class="mb-0 text-end">
                            <em class="opacity-50 text-nowrap">78:19</em>
                            <em class="opacity-50 text-nowrap">61 Apr 6023</em>
                        </p>
                </div>
            </div>

            <div class="row alien-tweet mx-1">
                    <div class="my-tweet col-6 bg-white border">
                        <p class="mb-0 opacity-75 text-break" style="white-space: pre-line">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium blanditiis dolorum, error minus</p>
                        <p class="mb-0 text-start">
                            <em class="opacity-50 text-nowrap">78:19</em>
                            <em class="opacity-50 text-nowrap">61 Apr 6023</em>
                        </p>
                    </div>
                <div class="col-6"></div>
            </div>

        </div>

        <form id="message-sender" class="mt-0">
            <div class="input-group mb-3">
              <input type="text" class="form-control" placeholder="Введите сообщение..." aria-describedby="button-addon2">
              <button class="btn btn-outline-dark" type="submit" id="button-addon2"><svg class="bi me-2" width="16" height="16" fill="currentColor"><use xlink:href="#send"/></svg>
              </button>
            </div>
        </form>
    </div>
    <div class="col-3"></div>
</div>
{% endblock %}

{% block sidebar_buttons %}
{% if user.is_authenticated %}
<li class="nav-item">
    <a href="#" class="nav-link link-dark" aria-current="page">
      <svg class="bi me-2" width="16" height="16" fill="currentColor"><use xlink:href="#news"/></svg>
      <strong>Новости</strong>
    </a>
</li>
<li class="nav-item">
    <a href="{% url 'tweet-list' user.pk %}" class="nav-link link-dark" aria-current="page">
        <svg class="bi me-2" width="16" height="16"><use xlink:href="#my-tweet"/></svg>
      <strong>Мои твиты</strong>
    </a>
</li>
<li class="nav-item">
    <a href="{% url 'dialogue-list' user.pk %}" class="nav-link link-dark" aria-current="page">
      <svg class="bi me-2" width="16" height="16 " fill="currentColor"><use xlink:href="#chats"/></svg>
        <strong>Диалоги</strong>
    </a>
</li>
<li class="nav-item">
    <a href="{% url 'main-search' %}" class="nav-link link-dark" aria-current="page">
        <svg class="bi me-2" width="16" height="16"><use xlink:href="#search"/></svg>
      <strong>Поиск</strong>
    </a>
</li>
<li class="nav-item">
    <a href="{% url 'list-of-follows' %}" class="nav-link link-dark" aria-current="page">
        <svg class="bi me-2" width="16" height="16"><use xlink:href="#subs"/></svg>
      <strong>Подписки</strong>
    </a>
</li>
{% endif %}
{% endblock %}