{% extends 'base.html' %}
{% block title %}
Диалоги {{ user }}
{% endblock %}

{% block page_header %}
Диалоги {{ user }}
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-2"></div>
<div class="col-8">
    {% if not d_list %}
    <div class="text-center mt-2">
        <h6 class="display-6">:(</h6>
        <p class="lead mb-0">Здесь пока ничего нет</p>
        <p class="lead">Напишите кому-нибудь</p>
        <a href="{% url 'main-search' %}" class="btn btn-outline-secondary" role="button">Найти</a>
    </div>
    {% endif %}
    {% for item in d_list %}
    <div class="mt-3">
        <div class="d-flex justify-content-around">
            {% if user == item.side_a %}
            <em class="lead"><strong>{{ item.side_b.nickname }}</strong></em>
            <a class="lead text-decoration-none" href="{{ item.side_b.get_absolute_url }}">{{ item.side_b }}</a>
            {% else %}
            <em class="lead"><strong>{{ item.side_a.nickname }}</strong></em>
            <a class="lead text-decoration-none" href="{{ item.side_a.get_absolute_url }}">{{ item.side_a }}</a>
            {% endif %}
                <p class="mb-0">
                    <em class="opacity-50 text-nowrap">{{ item.get_time }}</em>
                    <em class="opacity-50 text-nowrap"><mark>{{ item.get_date }}</mark></em>
                </p>

            <a class="btn btn-outline-dark btn-sm position-relative" role="button" href="{% url 'chat' item.pk %}">К диалогу
                {% if user == item.side_a and not item.is_read_by_side_a or user == item.side_b and not item.is_read_by_side_b %}
                <span class="position-absolute top-0 start-100 translate-middle p-2 bg-danger border border-light rounded-circle">
                    <span class="visually-hidden">New alerts</span>
                </span>
                {% endif %}
            </a>
        </div>

        <hr>
    </div>
    {% endfor %}
</div>
<div class="col-2"></div>
</div>
{% endblock %}

{% block sidebar_buttons %}
{% if user.is_authenticated %}
<li class="nav-item">
    <a href="{% url 'home' %}" class="nav-link link-dark" aria-current="page">
      <svg class="bi me-2" width="16" height="16" fill="currentColor"><use xlink:href="#news"/></svg>
      <strong>Новости</strong>
    </a>
</li>
<li class="nav-item">
    <a href="{% url 'tweet-list' user.pk %}" class="nav-link link-dark" aria-current="page">
        <svg class="bi me-2" width="16" height="16"><use xlink:href="#my-tweet"/></svg>
      <strong>Мои твиты</strong>
    </a>
</li>
<li class="nav-item">
    <a href="{% url 'dialogue-list' user.pk %}" class="nav-link link-light active bg-success" aria-current="page">
      <svg class="bi me-2" width="16" height="16 " fill="currentColor"><use xlink:href="#chats"/></svg>
        <strong>Диалоги </strong><span id="d-counter" class="badge text-bg-dark"></span>
    </a>
</li>
<li class="nav-item">
    <a href="{% url 'main-search' %}" class="nav-link link-dark" aria-current="page">
        <svg class="bi me-2" width="16" height="16"><use xlink:href="#search"/></svg>
      <strong>Поиск</strong>
    </a>
</li>
<li class="nav-item">
    <a href="{% url 'list-of-follows' %}" class="nav-link link-dark" aria-current="page">
        <svg class="bi me-2" width="16" height="16"><use xlink:href="#subs"/></svg>
      <strong>Подписки</strong>
    </a>
</li>
{% endif %}
{% endblock %}