{% extends 'base.html' %}
{% block title %}
Редактирование профиля
{% endblock %}

{% block page_header %}
Редактирование профиля
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-3"></div>
      <div class="col-5">
          <form method="post" action="">
          {% csrf_token %}
              <div class="mb-3">
                <label for="name-input" class="form-label">Ваше имя</label>
                <input class="form-control" name="nickname" id="name-input" value="{{ form.nickname.value }}">
              </div>
              <div class="mb-3">
                  <label for="bio-input" class="form-label">О себе</label>
                  <textarea class="form-control" name='bio' aria-label="With textarea" id="bio-input" rows="3" placeholder="Пара слов о себе...">{{ form.bio.value }}</textarea>
              </div>
              <button class="btn btn-success" type="submit">Сохранить</button>
          </form>
      </div>
    <div class="col-3"></div>
</div>
{% endblock %}


{% block sidebar_buttons %}
<li class="nav-item">
    <a href="#" class="nav-link link-dark" aria-current="page">
      <svg class="bi me-2" width="16" height="16" fill="currentColor"><use xlink:href="#news"/></svg>
      <strong>Новости</strong>
    </a>
</li>
<li class="nav-item">
    <a href="{% url 'tweet-list' user.pk %}" class="nav-link link-dark" aria-current="page">
        <svg class="bi me-2" width="16" height="16"><use xlink:href="#my-tweet"/></svg>
      <strong>Мои твиты</strong>
    </a>
</li>
<li class="nav-item">
    <a href="{% url 'dialogue-list' user.pk %}" class="nav-link link-dark" aria-current="page">
      <svg class="bi me-2" width="16" height="16"><use xlink:href="#chats"/></svg>
        <strong>Диалоги</strong>
    </a>
</li>
<li class="nav-item">
    <a href="{% url 'main-search' %}" class="nav-link link-dark" aria-current="page">
        <svg class="bi me-2" width="16" height="16"><use xlink:href="#search"/></svg>
      <strong>Поиск</strong>
    </a>
</li>
<li class="nav-item">
    <a href="{% url 'list-of-follows' %}" class="nav-link link-dark" aria-current="page">
        <svg class="bi me-2" width="16" height="16"><use xlink:href="#subs"/></svg>
      <strong>Подписки</strong>
    </a>
</li>
{% endblock %}