<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>K_K | Вход</title>


    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/custom_users/login.css' %}">


  </head>
  <body class="text-center">
    
<main class="form-signin w-100 m-auto">
  <form method="post" action="">
    {% csrf_token %}
    <h1 class="display-6">K_K</h1>
    <h1 class="h3 mb-3 fw-normal">Выполните вход</h1>

    <div class="form-floating">
      {% if form.username.errors %}
      <input type="text" class="form-control is-invalid" id="floatingInput" name="username" placeholder="user">
      <label for="floatingInput">Логин</label>
        {% for error in form.username.errors %}
            <div class="invalid-feedback">
              {{ error|escape }}
            </div>
        {% endfor %}
      {% else %}
      <input type="text" class="form-control" id="floatingInput" name="username" placeholder="user">
      <label for="floatingInput">Логин</label>
      {% endif %}

    </div>

    <div class="form-floating">
      {% if form.password.errors %}
      <input type="password" class="form-control is-invalid" id="floatingPassword" name="password" placeholder="Password">
      <label for="floatingPassword">Пароль</label>
      {% for error in form.password.errors %}
            <div class="invalid-feedback">
              {{ error|escape }}
            </div>
        {% endfor %}
      {% else %}
      <input type="password" class="form-control" id="floatingPassword" name="password" placeholder="Password">
      <label for="floatingPassword">Пароль</label>
      {% endif %}
    </div>

    <button class="w-100 btn btn-lg btn-success" type="submit">Войти</button>

    <a href="{% url 'signup' %}" class="link-primary">Нет аккаунта?</a>
    <p class="mt-5 mb-3 text-muted">© 2023 K_K</p>

  </form>
</main>


    
  </body>
</html>
